@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/Swiss\ 721\ Condensed\ BT\ Regular.ttf") format("truetype"); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}
@keyframes float-1 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(10px, -10px) rotate(2deg);
  }
  50% {
    transform: translate(0, -15px) rotate(-1deg);
  }
  75% {
    transform: translate(-10px, -10px) rotate(1deg);
  }
}

@keyframes float-2 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-10px, -15px) rotate(-2deg);
  }
  50% {
    transform: translate(-5px, -10px) rotate(1deg);
  }
  75% {
    transform: translate(10px, -5px) rotate(-1deg);
  }
}

@keyframes float-3 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(15px, -5px) rotate(1deg);
  }
  50% {
    transform: translate(5px, -10px) rotate(-1deg);
  }
  75% {
    transform: translate(-5px, -15px) rotate(2deg);
  }
}

.float-animation-1 {
  animation: float-1 6s ease-in-out infinite;
}

.float-animation-2 {
  animation: float-2 8s ease-in-out infinite;
}

.float-animation-3 {
  animation: float-3 7s ease-in-out infinite;
}

.social-float {
  animation: float-2 10s ease-in-out infinite;
}

/* #loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
} */
/* #loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  border: 16px solid var(--var-secondary-color);
  border-radius: 50%;
  border-top: 16px solid var(--var-primary-color);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 120px;
  height: 120px;
}

.ip {
  width: 16em;
  height: 8em;
}
.ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}
.ip__worm2 {
  animation-name: worm2;
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}

#content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.clip-chevron-right {
  clip-path: polygon(
    50.3% 0%,
    100% 0%,
    50.3% 50%,
    100% 100%,
    50.3% 100%,
    0% 50%
  );
}

.clip-chevron-left {
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%);
}

.select2-container {
  width: 100% !important;
}

.ql-ui {
  display: none;
}

.highlighted {
  background-color: rgba(59, 130, 246, 0.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f05454; /* Softer red */
  transition: 0.4s;
  border: 2px solid #f05454; /* Retaining the same border color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
}

.slider:before {
  content: "✕";
}

input:checked + .slider {
  background-color: #66bb6a; /* Softer green */
  border-color: #66bb6a; /* Softer border for checked state */
}

input:checked + .slider:before {
  content: "✓";
}

.switch-label {
  text-align: center;
  font-size: 14px;
  color: #333;
}

input:checked ~ .switch-label::after {
  content: "ON";
}

input:not(:checked) ~ .switch-label::after {
  content: "OFF";
}

#imageSlider img {
  min-width: 100%;
  max-width: 100%;
  height: 80vh;
  object-fit: contain;
}

/* animation */

.swiper {
  width: 100%;
  height: 40rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

#scrollToTopBtn {
  animation: pulse 2s infinite; /* Pulse animation with 2-second loop */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4); /* Initial shadow */
  }
  50% {
    transform: scale(1.05); /* Slightly grow */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6); /* Enhance shadow */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4); /* Return to initial */
  }
}
